
<!--
<div ng-include="'app/components/navbar/navbar.html'"></div>
-->

<div class="main container">
  <div class="menu hidden-xs hidden-sm">
    <h4 class="brand">Flat</h4>
    <ul class="main--menu">
      <li><div post-form></div></li>
    </ul>
    <ul class="account-menu">
      <li><a href="" ng-click="logout()">ログアウト</a></li>
    </ul>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- flat-web menu2 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:160px;height:600px"
         data-ad-client="ca-pub-1525765559709019"
         data-ad-slot="5416349748"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
 </div>

  <nav class="visible-xs-block  visible-sm-block navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand">Flat</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><div post-form></div></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="" ng-click="logout()">ログアウト</a></li>
        </ul>
      </div>
    </div>

  </nav>

  <div class="timeline" ui-view></div>
</div>
