<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- flat-timeline top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1525765559709019"
     data-ad-slot="1184626548"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="row">
  <div class="post-wrap row-same-height clearfix">
    <!-- post -->
    <div class="col-sm-5 col-full-height cell-{{ post.post_id }}" ng-class="{new: post.created_at > last_access_at}">
      <div class="post">
          <div class="clearfix">
            <img class="pull-left" ng-src="https://www.flat.place/static/share/assets/img/icon/{{ post.icon_id }}.png" width="75px" height="75px" />
	          <div class="pull-left post-info">
               <div>
                 <div>
                   <span ng-class="{
                     'room-post-header':post.src_type==1,
                     'lounge-post-header':post.src_type==2
                     }"
                     class="post-header">{{ post.timeline.title }}</span>
                 </div>
                 <div>{{ post.created_at | timeago }}</div>
                 <div ng-if="post.name" class="company margin-top-s">{{ post.name }}</div>
               </div>
               <ul class="list-inline margin-top-s">
                 <li><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ post.comment_count }}</li>
                 <li><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ post.like_count }}</li>
                 <li><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> {{ post.dislike_count }}</li>
               </ul>
		        </div>
            <div ng-if="post.mine" class="clearfix">
              <button class="btn btn-link pull-right" ng-click="delete(post)"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
	        </div>
        <div class="content post-content" ng-bind-html="post.caption | linky:'_blank' "></div>
      </div><!-- post -->
	  </div>
    <!-- post end -->


    <div class="col-sm-7 col-full-height comment-wrap">

      <!-- comments -->
      <div class="no-comment" ng-if="post.comments == null || post.comments.length==0">
        コメントなし
      </div>


      <div ng-if="post.comments.length>0" class="comment-list">
        <div ng-if="post.comments.length>show_comment_num" class="more-comment clearfix">
          <button class="btn btn-link btn-xs" ng-click="add_show_comment_num(post)">コメントを表示</button>
        </div>

        <ul>
          <li class="comment"
              ng-repeat='comment in post.comments | orderBy:"post_comment_id":true | limitTo:show_comment_num | orderBy:"post_comment_id":false' ng-class="{new: comment.created_at > last_access_at}" >
              
            <div class="media">
              <div class="media-left">
                <img ng-src="https://www.flat.place/static/share/assets/img/icon/{{ comment.icon_id }}.png" width="40px" height="40px" />
              </div>
              
              <div class="media-body">

                <div class="clearfix">
                <ul class="list-inline pull-left comment-info">
                  <li><div>{{ comment.created_at | timeago }}</div></li>
                  <li><div class="comment-index">{{ comment.comment_index | cindex }}</div></li>
                  <li><div class="company" ng-if="comment.name">{{ comment.name }}</div></li>
                  <li><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ comment.like_count }}</li>
                  <li><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> {{ comment.dislike_count }}</li>
                </ul>
                  <div ng-if="comment.mine" class="pull-right">
                    <button class="btn btn-link " ng-click="delete_comment(post, comment)"><span class="glyphicon glyphicon-trash"></span></button>
                   </div>
                </div>

                <div class="content comment-content pull-left" ng-bind-html=" comment.content | linky:'_blank' "></div>


	            </div>
	          </div>

	        </li>
        </ul>
      </div>
      <!-- comments end -->

      <!-- form -->
      <div class="reply">
        <form ng-submit="reply(post)">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="コメント" ng-model="post.reply_comment">
          </div>
        </form>
      </div>
      <!-- form end -->


    </div>
    <!-- col-lg-4 -->

  </div>

  <div ng-if="has_more" class="clearfix has-more">
    <button type="submit" class="btn btn-info" ng-click="load_content()">もっとみる</button>
  </div>
</div>
