.container {
  width: auto;
  padding: 0;
}
.main {
  margin: 0 16px;
  padding: 0 16px;
}
.timeline {
  border-right: 1px solid rgb(202, 202, 202);

  .post-form {
    .form-group {
      margin-bottom: 4px;
    }
    button {
       width: 100%
    }
    padding-bottom: 16px;
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
  }
  li:last-child {
    border-bottom: none;
  }
}

.post {
  padding-bottom: 8px;
  .created-date {
    padding-left: 8px;
  }
  .content {
	 padding-top: 8px;
  }

  border-top: 1px solid rgb(202, 202, 202);
}

.comment-list {
  margin-top: 8px;
  padding-top: 8px;

}
.no-comment {
  margin-top: 8px;
  padding-top: 8px;
  color: gray;
}
.more-comment {
}
.comment {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.timeline {
  .has-more {
     padding-left: 16px;
     padding-right: 16px;
     button {
       width: 100% !important;
     }
    //margin-top: 8px;
    //padding-top: 8px;
    //border-top: 1px solid rgb(202, 202, 202);
  }
}
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
