$screen-base-min: 768px !default;
$screen-menu-min: 992px !default;
$menu-color:  #fff !default;
$menu-bg-color:  #30426a !default;

.margin-top-s { margin-top: 7px; }
.margin-top-m { margin-top: 15px; }

li {
  list-style: none;
}

.brand { font-size: 25px; }


@media (min-width: $screen-base-min) {
  .row-same-height {
    display: table;
  }
  .col-full-height {
    height: 100%;
    display: table-cell;
    float: none !important;
    vertical-align: top;
  }
}

.post-header        { padding: 2px 10px; color: #fff; }
.room-post-header   { background-color: #FFA500; }
.lounge-post-header { background-color: #2ca4f5; }

.main.container {
  padding: 0;
}
@media (min-width: $screen-base-min) {
.main.container {
  width: auto;
}
}
.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.main {
  //padding-left: 250px;
}

.navbar {
  background-color: $menu-bg-color;
  color: $menu-color;
  .navbar-brand { 
    color: $menu-color;
     padding-left: 5px;
     padding-right: 5px;
   }
  .navbar-brand:hover { color: $menu-color; }
}

.navbar-default {

  .navbar-toggle {
    .icon-bar {
      background-color: $menu-color;
    }
  }

  .navbar-toggle:focus {
    background-color: $menu-bg-color;
  }
  .navbar-toggle:hover {
    background-color: $menu-bg-color;
    .icon-bar {
      background-color: lightgray;
    }
  }
}

.navbar-default .navbar-nav li a {
  color: $menu-color;
  display: block;
  padding:  15px;
  line-height: 20px;
  text-decoration: none;
}
.navbar-default .navbar-nav li a:hover {
  color: lightgray;
}

.navbar-default .navbar-toggle {
  border: 0;
}

@media (max-width: $screen-menu-min) {
  .timeline { padding-top: 50px; }
}

@media (min-width: $screen-menu-min) {
  .menu {
    background-color: $menu-bg-color;
    color: $menu-color;
    width: 250px;
    position: fixed;
    height: 100%;
    //left: 150px;
    //margin-left: -150px;
    z-index: 999;
    padding: 30px;
    a {
      color: #fff;
    }
    .account-menu {
      margin-top: 15px;
    }
  }
}

.content {
  word-wrap: break-word;
}

.jumbotron {
  background-color: #fff;
}
.signup {
  h4 {
    //text-align: center;
    padding-bottom: 16px;
  }
  .description {
  }
  .btn-primary {
    width: 100%;
  }
  ul {
    padding-left: 20px;
    li {
      list-style:inherit;
    }
  }
}
@media (min-width: $screen-menu-min) {
.timeline {
    padding-left: 250px;
}
}

.timeline {
  background-color: #f6f6f6;

  ul {
    padding-left: 0px;
  }
  li:first-child {
    border-top: none;
  }
  .detail-link {
    color: inherit;
  }
  .post-wrap {
    margin: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);

    .post {
  	  padding: 15px;
  	  background-color: #fff;

    }
 
    .company {
      //padding-top: 16px;
    }
    .post-info {
      padding-left: 15px;
	  font-size: 1.5rem;
    }
    .post-content {
  	  padding-top: 15px;
  	  font-size: 2.0rem;
    }
  
    //border-top: 1px solid rgb(202, 202, 202);
  
    .comment-wrap {
      background-color: #eee;
      box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.15) inset;
    }
  }

  .new {
    border-top: 1px solid red !important;
  }
  .panel-body{
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.post-form {
  padding: 30px;
  .form-group.clearfix {
    //margin-right: 15px;
    //vertical-align: top;
    margin-bottom: 0px;
  }
  .btn-submit {
      width: 100%;
  }
  textarea {
     height: 100px;
     width: 100%;
  }
}

.comment-list {
  //margin-top: 8px;
  //padding-top: 8px;
  padding-left: 15px;
  .more-comment {
    margin-top: 8px;
  }
  .comment {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid rgb(202, 202, 202);
    .comment-info {
      padding-top: 4px;
    }
	.comment-index {
	}
    .comment-content {
      line-height: 1.6em;
      padding-bottom: 8px;
    }
  }
}
.no-comment {
  padding-top: 8px;
  padding-left: 8px;
  color: gray;
}
.reply {
  padding-top: 8px;
  .form-group {
    margin-bottom: 0px !important;
  }
  .form-control {
      border-radius: inherit; 
  }
}

.timeline {
  .has-more {
     padding-left: 16px;
     padding-right: 16px;
     button {
       width: 100% !important;
     }
    //margin-top: 8px;
    //padding-top: 8px;
    //border-top: 1px solid rgb(202, 202, 202);
  }
}
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
